.anchor-text-input {
  anchor-name: --anchor-el;
}

.positioned-notice {
  position-anchor: --anchor-el;
  inset-area: top span-right;
  position: absolute;
  bottom: anchor(top);
  offset-anchor: 10px;
  margin-bottom: 2px;
}

.emoji-suggestion-box {
  --item-height: 2rem;
  min-width: 120px;
  max-width: max(100%, 300px);
  max-height: calc(3 * var(--item-height));
  border-radius: 0.5rem;
  overflow: auto;

  label {
    padding: 0 0.5rem;
    min-height: var(--item-height);
    --bg-color-base: LightGoldenRodYellow;
    --bg-color: var(--bg-color-base);
    --bg-color-light: white;
    background-color: var(--bg-color);

    @supports (color: rgb(from white r g b)) {
      --bg-color-light: hsl(
        from var(--bg-color-base) calc(h - 4) calc(s + 20) calc(l + 5)
      );
    }

    &:hover {
      cursor: pointer;
    }

    &:hover,
    &:has(input[type="radio"]:checked) {
      --bg-color: var(--bg-color-light);
    }

    input[type="radio"] {
      position: fixed;
      opacity: 0;
      pointer-events: none;
    }
  }
}
