.anchor-text-input {
    anchor-name: --anchor-el;
}

.positioned-notice {
    position-anchor: --anchor-el;
    inset-area: top span-right;
    position: absolute;
    bottom: anchor(top);
    offset-anchor: 10px;
    margin-bottom: 2px;
}

.emoji-suggestion-box {
    min-width: 120px;
    max-width: 300px;
    min-height: 80px;
    max-height: 3rem;
    background-color: hotpink;
    border-radius: 1rem;
    overflow: auto;
    padding: .5rem;

    & > * button {
        width: 100%;
    }

    input[type="radio"] {
        position: fixed;
        opacity: 0;
        pointer-events: none;
    }

    label:has(input[type="radio"]:checked) {
        background-color: gold;
    }
}